* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(83, 40, 39);
}

body{
    background: url(img/food8.jpeg) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 120px;
    width: 23%;
    background: url(img/paper-pattern.jpg);
    padding: 3rem 2.8rem;
    border-radius: .3rem;
    box-shadow: 0 10px 15px -8px #000;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

form {
    text-align: left;
}

form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

form input,
form select {
    padding: 8px;
    margin-top: 10px;
}

form input[type="text"]{
    width: 90px;
}

#serviceQuantity {
    margin-bottom: 30px;
}

form button {
    text-transform: uppercase;
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(108, 39, 38);
    color: white;
    border-bottom: 4px solid black;
    margin-top: 1rem;
}

button:hover {
    background-color: rgb(76, 40, 39);
}

button:active {
    position: relative;
    top: 3px;
}

#tipAmount {
    display: none;
    margin-top: 2rem;
    text-align: center;
}

#tipAmount::before {
    content: "Tip Amount";
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

#tipAmount sup {
    font-size: 1.4rem;
    top: -18px;
}

#tipAmount span {
    font-size: 3.5rem;
}

#each {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}
